/* Empty. Add your own CSS if you like */
.createBlog-list-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.available-scroller {
  height: 250px;
}

.myDiv{
  overflow-y: hidden; // hide vertical
  overflow-x: hidden; // hide horizontal
}
.logo{
  margin-top: 100px;
  margin-bottom: 60px;
  max-width:100%;
  max-height:100%;
}

.login-background{
  background-image: url(../img/background.jpg);
  max-width:100%;
  max-height:100%;
  display: inline-block;
  opacity: 0.6;
  filter: alpha(opacity=40);

}

div.transbox {
    margin: 0 auto;
    margin-top: 150px;
    background-color: #ffffff;
    border: 2px solid grey;
    border-radius: 20px;
    opacity: 0.9;
    filter: alpha(opacity=60);
    width: 445px;
}

.item-input{
  width:400px;
  background-color: white;
}

.item-input-login{
  margin-top: 15px;
  margin-left: 20px;
  margin-right:20px;

}
.button-block{
  border-radius: 50px;
}

#button-login{
  margin-left: 70px;
  margin-right:20px;
}
