/* Empty. Add your own CSS if you like */

.createBlog-list-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.available-scroller {
    height: 250px;
}

#img-container{
  height: 0px;
}

.avatar-custom > img:hover{
    cursor: pointer;
}

.avatar-custom > h2:hover{
    cursor: pointer;
}

#button-facebook{
  background-color: #3b5998;
}
#button-facebook:ACTIVE{
  background-color: #2b4170;
}

#profile-bg {
    position: fixed;
    left: 0;
    top: 44px;
    width: 100%;
    height: 150px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat;

    background-size: 100%;
    background-position: 50% 20%;
    text-align: center;
}
#content {
    position: relative;
    margin-top: 150px;
    background-color: white;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
    padding-top: 200px;
}
#profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
}
#profile-name {
    color: #444;
    font-size: 26px;
}
#profile-description {
    font-size: 15px;
    color: #888;
}
#profile-description a {
    color: #888;
}
#profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

.input{
  padding: 20px;
}
.logo{
  display: block;
  height: 150px;
  width: 150px;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width:100%;
  max-height:100%;
}

.login-background{
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*opacity: 0.6;*/
  filter: alpha(opacity=40);
}

div.transbox {
    position: relative;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border: 2px solid grey;
    border-radius: 20px;
    opacity: 0.9;
}
.button-block{
  border-radius: 50px;
}

.singup-custome{
  font-size: 12px;   
}

.button-login{
  width: 50%;
}
#form{
  padding-bottom: 0px;
}
#remember-me{
  border: none;
  font-size: 13px;
  font-family: inherit;
}

#forget-pass{
  text-align: center;
}
.popup-container .popup{
  width: 420px!important;
}

.item{
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
}

.line{
  height: 1px;
  background-color: grey;
  text-align: center;
  margin: 5px;
}

.inline-text{
  background-color: white;
  position: relative;
  top: -0.5em;
  font-size: 20px;
}

.triipme-background{
  background-color: #4FBBBC !important;
  border-color: #fff !important; 
}

.triipme-color {
    color: #4FBBBC !important;
} 

.triipme-color > a{
    color: #4FBBBC !important;
}

.padding-createblog-button{
    margin-bottom: 80px !important;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
  background: rgba(0,0,0,0.7);
}
 
.slider {
    width: 100%;
    height: 100%;
}
 
.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}
