<ion-view title="Create new Blog">
    <ion-content>
<div class="list">


    <label class="item item-input">
        <span class="input-label">Blog title </span>
        <input type="text" placeholder="Blog title" ng-model="newblog.title">
    </label>

    <label class="item item-input">
        <span class="input-label">Blog short description </span>
        <input type="text" placeholder="Blog description" ng-model="newblog.desc">
    </label>

    <label class="item item-input item-select">
    <div class="input-label">
    Event
    </div>
    <select>
    <option ng-repeat="trip in trips">{{trip.name}}</option>
    </select>
    </label>
    <div class="row">
        <div class="col ">        
        <button class="button button-block ion-ios-camera" ng-click="takePicture()">
            Camera
        </button>
        </div>
        
        <div class="col col-50">        
        <button class="button button-block ion-images" ng-click="choosePicture()">
            Gallery
        </button>
        </div>
    </div>
    <ion-scroll direction="x" class="available-scroller">
    <div class="createBlog-list-photo" collection-repeat="photo in photos"
       item-height="250" item-width="300">
         <img ng-src="{{photo}}"/>
    </div>
    </ion-scroll>
    <button class="button button-block button-positive" ng-click="createBlog()">
        Create new Blog
    </button>
</div>
    </ion-content>
</ion-view>