<style>
	.popup-head {
  background-color : skyblue;
}

.popup-buttons{color : skyblue;}
</style>
<ion-view title="Home">
    <ion-content>
        <button class="button button-block button-calm triipme-background" ng-click="redir()">
        Create new blog
        </button>

        <!--<ion-spinner ng-show="connected == true" style="margin-left: 50%;" icon="lines" class="spinner-positive"></ion-spinner>-->

        <div ng-repeat="item in blogs">
            <div class="list card">
                <div class="item item-avatar avatar-custom">
                    <img ng-src={{item.authoravatar}} ng-click="viewProfile(item.author)">
                    <h2 ng-click="viewProfile(item.author)">{{item.authorname}}</h2>
                    <p>{{item.time}}</p>
                    <button class="button button-clear" style="position:absolute;right:15px;top:15px;" ng-click="redirEdit(item.id)">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>

                <div class="item item-body">
                    <!--<img class="full-image" data-ng-src="data:image/png;base64,{{item.img}}">-->
                    <img class="full-image" data-ng-src=data:image/png;base64,{{item.img}}>
                    <p>
                        {{item.desc}}
                    </p>
                    <p>
                        <a class="subdued">{{item.likes.num}} Like</a>
                        <a class="subdued">{{item.comments.num}} Comments</a>
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left" style="bottom:20px">
                    <a class="tab-item" ng-click="likeBlog(item)">
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item" ng-click="commentBlog($event,item)">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                    <a class="tab-item" ng-click="shareBlog(item)">
                        <i class="icon ion-share"></i>
                        Share
                    </a>
                </div>
            </div>
        </div>
	
	</ion-content>
</ion-view>