<div class="list card">

    <div class="item item-avatar">
        <img src="img/avatar.jpg">
        <h2>Trong Tin Nguyen</h2>
        <p>July 17, 2015</p>
    </div>

    <div class="item item-body">
        <img class="full-image" src="img/hong-kong.jpg">
        <p>
            My Hong Kong trip was the best thing that ever happened to me.
        </p>
        <p>
            <a class="subdued">1 Like</a>
            <a class="subdued">5 Comments</a>
        </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
            <i class="icon ion-thumbsup"></i>
            Like
        </a>
        <a class="tab-item">
            <i class="icon ion-chatbox"></i>
            Comment
        </a>
        <a class="tab-item">
            <i class="icon ion-share"></i>
            Share
        </a>
    </div>

</div>