<ion-view title="Home">
    <ion-content>
        <button class="button button-block button-positive" ng-click="redir()">
        Create new blog
        </button>

        <ion-spinner ng-show="connected == true" style="margin-left: 50%;" icon="lines" class="spinner-positive"></ion-spinner>

        <div ng-repeat="item in blogs">
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/avatar.jpg">
                    <h2>{{item.author}}</h2>
                    <p>{{item.time}}</p>
                    <button class="button button-clear" style="position:absolute;right:15px;top:15px;" ng-click="redirEdit(item.id)">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>

                <div class="item item-body">
                    <img class="full-image" data-ng-src="data:image/png;base64,{{item.img}}">
                    <p>
                        {{item.desc}}
                    </p>
                    <p>
                        <a class="subdued">{{item.like}} Like</a>
                        <a class="subdued">{{item.cmt}} Comments</a>
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item">
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-share"></i>
                        Share
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>