<ion-view title="TriipMe Login">
  <ion-content>
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Email" ng-model="username">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="password">
  </label>
  <button class="button button-block button-positive" ng-click="login()">
    Login
  </button>
  <!--<ion-spinner ng-hide="connected == false" style="margin-left: 50%;" icon="lines" class="spinner-positive"></ion-spinner>-->
</div>
  </ion-content>
</ion-view>
