<ion-view title="Notification">
    <ion-content>
            <div class="list card">
                <div ng-repeat="noti in notiList">
                    <div class="card" ng-click="gotoBlog(noti.blogid)">
                        {{noti.time}}
                        <p ng-if="noti.type=='like'">{{noti.authorname}} liked your blog !</p>
                        <p ng-if="noti.type=='comment'">{{noti.authorname}} commented on your blog !</p>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>