<ion-view title="Profile">
   <ion-content>
      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" class="avatar-custom" ng-src={{user.Avatar}}>
          <h3 id="profile-name" clas ng-model="user.Name">{{user.Name}}</h3>
          <span id="profile-description">The Happiness Way To Enjoy Trully Local Expression</span>
        </div>
        
        <button class="button button-block button-calm" ng-click="createNewBlog()">
        Create new blog
        </button>
        
        <div ng-repeat="item in blogs">
            <div class="list card">
                <div class="item item-avatar avatar-custom">
                    <img ng-src={{user.Avatar}} ng-click="viewProfile()">
                    <h2 ng-click="viewProfile()">{{user.Name}}</h2>
                    <p>{{item.time}}</p>
                    <button class="button button-clear" style="position:absolute;right:15px;top:15px;" ng-click="redirEdit(item.id)">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>

                <div class="item item-body">
                    <!--<img class="full-image" data-ng-src="data:image/png;base64,{{item.img}}">-->
                    <img class="full-image" data-ng-src=data:image/png;base64,{{item.img}}>
                    <p>
                        {{item.desc}}
                    </p>
                    <p>
                        <a class="subdued">{{item.likes.num}} Like</a>
                        <a class="subdued">{{item.comments.num}} Comments</a>
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="likeBlog(item)">
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item" ng-click="commentBlog($event,item)">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                    <a class="tab-item" ng-click="shareBlog(item)">
                        <i class="icon ion-share"></i>
                        Share
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>