<ion-view title="TriipMe Login" class="login-background">
  <ion-content>
    <div>
      <div align="middle">
        <img src="img/logo.jpg" class="logo">
      </div>
      <div class="transbox">
        <div>
          <div class="col">
            <h3 style="text-align: center">
              <span>is this your first login?</span>
            </h3>
            <h5 style="text-align: center;">
              <span>You are now using the default password, please reset your password for more security!</span>
            </h5>   
          </div>
        </div>      
        <div class="input" id="form">
          <label class="item item-input item-input-login">
            <input type="password" placeholder="new password" ng-model="password.pass1">
          </label>
          <label class="item item-input item-input-login">
            <input type="password" placeholder="re-enter new password" ng-model="password.pass2">
          </label>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-calm triipme-background" id="button-login" ng-click="resetPassword()">RESET PASSWORD</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-calm triipme-background" id="button-login" ng-click="backToLogin()">BACK TO LOGIN</button>
          </div>
        </div>      
      </div>
    </div>
  </ion-content>
</ion-view>