<div ng-controller="signupController">
    <label class="item item-input">
      <input type="text" placeholder="Name" ng-model="userName">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Email" ng-model="userEmail">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Re-enter Email" ng-model="confirmEmail">
    </label>   
      <table>
      <th class="button-login">
        <button class="button button-block button-calm"  id="button-login" ng-click="createUser()" align="center">
          CREATE ACCOUNT
        </button>
      <th/>
      <th class="button-login">
        <button class="button button-block button-light" id="button-login" ng-click="cancelSignup()" align="center">
          CANCEL
        </button>
      <th/>
    </table>
   {{err}}
</div>
