
<div>
  <label class="item item-input">
      <input type="text" placeholder="Email" ng-model="newUsername">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="newPassword">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Confirm Password" ng-model="newPassword2">
    </label> 
      <table>
      <th class="button-login">
        <button class="button button-block button-balanced"  id="button-login" ng-click="create()" align="center">
          Sign Up
        </button>
      <th/>
      <th class="button-login">
        <button class="button button-block button-light" id="button-login" ng-click="cancel()" align="center">
          Cancel
        </button>
      <th/>
    </table>
</div>
