<ion-modal-view ng-controller="ModalInstanceCtrl" ng-click="preventClose($event)">
    <ion-header-bar>
        <button class="button" ng-click="closeModal()">
            <i class="icon ion-ios-arrow-left"></i>
        </button>
        <h1 class="title">Comments</h1>
    </ion-header-bar>
    <ion-content>
        <div ng-repeat="cmt in cmts">
            <div class="card">
            <div class="item item-avatar item-text-wrap">
                <img ng-src={{cmt.authoravatar}} ng-click="viewUserProfile(cmt.author)">
                <h2 ng-click="viewUserProfile(cmt.author)" style="color: #4DADAF;">{{cmt.authorname}}</h2>
                <p>{{cmt.time}}</p>
                <p class="item">{{cmt.content}}</p>
            </div>
            </div>
        </div>
        <div class="item item-input-inset">
            <textarea rows="4" placeholder="Comments" ng-model="cmt.content" style="resize:none;width:95%;padding:0 5%;margin-right:5%;">
            </textarea>
            <button class="button button-small" style="background-color: #55B6B8; width: 50px"  ng-click="sendComment(blog)">
                <i class="icon  ion-paper-airplane" style="color: #ffffff;"></i>
            </button>
        </div>
    </ion-content>
</ion-modal-view>